.main {
    padding: 4rem;
    min-height: 100vh;
    background: #272936;
}

.mainHeading {
    color: #EED484;
    margin-left: 1rem;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
}

.buttonContainer {
    width: 50%;
    height: 75vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 1rem;
    color: black;
    background: #EED484;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
}

.button:hover {
    background: #f4bd18;
    font-size: 3.5rem; /* Adjust the font size as needed */
}