.main {
    padding: 4rem;
    padding-left: 20%;
    padding-right: 20%;
    min-height: 100vh;
    background-image: url('https://tigersugar.com/images/background_img/about_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.user {
    text-align: center;
}

.content{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;

}