/* AccessibilityWidget.module.css */
.accessibilityWidget {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    z-index: 1;
  }
  
  .accessibilityWidget label {
    margin-right: 10px;
  }

.centerScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContent {
    position: absolute;
    width: 70%;
    padding: 20px;
    background-color: #FFFFED !important;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.accessibilityButtons button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: black;
    color: white;
    cursor: pointer;
}

.accessibilityButtons button:hover {
    background-color: #ddd;
    color: black;
}

.accessibilityButtons p {
    border-bottom: 1px solid #ddd; /* You can adjust the color and style of the border */
    padding-bottom: 10px; /* Add some spacing between the options */
    margin-bottom: 10px; /* Add margin to separate the options */
}