/* Navbar.module.css */

.navbar {
    background-color: black !important;
}

.navWidgets {
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: column;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navItem {
    list-style-type: none;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem button {
    font-size: 1rem !important;
}

.activeNavItem {
    color: #f4f186;
}

.navItem:hover {
    color: #f4f186;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*weather stuff*/
.weather-widget {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .weather-widget img {
    width: 30px; /* Adjust the size of the icon as needed */
    height: 30px; /* Adjust the size of the icon as needed */
    margin-right: 10px; /* Spacing between icon and temperature */
  }
  
  .temperature {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .loading {
    font-size: 14px;
    margin: 0;
    color: #888;
  }
  
  .bottomRightWeatherWidget {
    position: absolute;
    bottom: 0;
    right: 0;
  }