.main {
    padding: 6rem;
    min-height: 100vh;
    background: #272936;
}

.mainHeading {
    text-transform: uppercase;
    color: #EED484;
    font-family: 'Spartan', sans-serif;
    letter-spacing: -0.075rem;
    width: 100%;
    font-size: 2.375em;
    line-height: 1.25;
    font-weight: 900;
    padding: 10px;
}

.menuData {
    padding: 10px
}

.verticalContainer {
    display: flex;
    flex-direction: column;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
}

.actions {
    margin: 1rem;
}

.actions h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.actions label {
    display: block;
    margin-bottom: 5px;
}

.actions input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.actions button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.actions button:hover {
    background-color: #45a049;
}

.inventoryTable {
    width: 100%;
    border-collapse: collapse;
}
  
.inventoryTable th,
.inventoryTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.inventoryTable th {
    background-color: #000000;
}
  
.inventoryTable tr:hover {
    background-color: #1f6d76;
}

.ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
}

.ingredientBox {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selected {
    background-color: #3498db; /* Change to your desired selected color */
    color: #fff; /* Change to your desired text color for selected items */
}

.backButton {
    color: #EED484;
    border: solid 3px #EED484;
    display: inline-flex;
    width: auto;
    height: 50%;
    line-height: 2.75rem;
    padding: 0 1.375rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.125rem;
    padding-left: calc(0.125rem + 1.375rem);
    font-size: 0.75em;
    font-weight: 400;
    border-radius: 1rem;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 10px;
}

.backButton:hover {
    /* background: #f4bd18; */
    border-color: #00FFD1 !important;
    color: #00FFD1 !important;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    padding: 20px;
    background-color: #FFFFED !important;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .modalBody {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
  
  .modalBody div {
    margin-bottom: 10px;
  }

  .textField {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .ingredientBox {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .editIngredientsButton button {
    padding: 10px;
    background-color: #EED484;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }

  .editIngredientsButton button:hover {
    background-color: #f4bd18;
  }

  .applyChangesButton button {
    padding: 10px;
    background-color: #84ee92;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }

  .applyChangesButton button:hover {
    background-color: #30e047
  }

  .closeButton button {
    padding: 10px;
    background-color: #ee8484;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }

  .closeButton button:hover {
    background-color: #ea5c5c;
  }

  .removeDrinkButton button {
    padding: 10px;
    background-color: #f90000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    right: 0;
    top: 0;
    position: absolute;
  }

    .removeDrinkButton button:hover {
        background-color: rgb(156, 147, 182);
    }