.main {
    padding: 6rem;
    min-height: 100vh;
    background: #272936;
}

.mainHeading {
    color: #EED484;
    margin-left: 1rem;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
}